<div class='container-fluid'>
  <nav class="nav">
    <% if current_user %>
      <div class="nav-left">
        <%= link_to page_path('home'), class:"nav-item is-brand" do %>
          <%= image_tag "logo.svg", id:'navbar-logo' %>
        <% end %>
      </div>
      <div class="nav-center">

      </div>
      <span class="nav-toggle" id="nav-toggle">
        <span></span>
        <span></span>
        <span></span>
      </span>
      <div class="nav-right nav-menu">
        <%= link_to 'Accueil', page_path('home'), class:'nav-item' %>
        <%= link_to 'Mes comptes', accounts_path, class:'nav-item' %>
        <%= link_to 'Les tennis', venues_path, class:'nav-item' %>
        <%= link_to 'Bye bye', destroy_user_session_path, method: :delete, class:'nav-item'%>
      </div>
    <% else %>
      <div class="nav-left">
        <%= link_to page_path('home'), class:"nav-item is-brand" do %>
          <%= image_tag "logo.svg", id:'navbar-logo' %>
        <% end %>
      </div>
      <div class="nav-center"></div>
      <span class="nav-toggle">
      </span>
      <div class="nav-right nav-menu">
        <%= link_to 'Se Connecter', new_user_session_path, class:'nav-item button is-success' %>
        <%= link_to "S'inscrire", new_user_registration_path, class:'nav-item button is-success' %>
      </div>
    <% end %>
  </nav>
</div>
