<div class='column is-half is-offset-one-quarter is-mobile'>
  <%= link_to 'Nouvelle recherche', page_path('home') %>
</div>


<!-- RESULTS -->
<div class="column is-half is-offset-one-quarter is-mobile">
  <%= @results.count %> créneaux disponibles</p>
  <% @results_by_venue.each do |venue, results_by_date| %>
    <div class="card is-fullwidth results-by-venue">
      <header class="card-header">
        <p class="card-header-title">
          <%= venue %>
        </p>
        <a class="card-header-icon">
          <i class="fa fa-angle-up"></i>
        </a>
      </header>
        <% results_by_date.each do |date, results_by_hour| %>
          <div class="card-content">
            <div class="content">
            <%= I18n.localize(Date.new(date.split("/")[2].to_i, date.split("/")[1].to_i, date.split("/")[0].to_i), format: "%A %d %B") %>
              <div class='column is-fullwidth'>
                <% results_by_hour.each do |hour, results| %>
                  <div class='columns results-by-hour'>
                    <div class='column is-1 results-hour'>
                      <%= hour %>h
                    </div>
                    <div class='column is-11'>
                      <% results.each do |result| %>
                        <span class="tag is-medium result-court-number result-court-number-<%= result.court.court_number  %>">
                          <%= result.court.court_number %>
                        </span>
                      <% end%>
                    </div>
                  </div>
                <% end%>
              </div>
            </div>
          </div>
        <% end%>
      </table>
    </div>
  <% end%>
</div>












<div class='column is-half is-offset-one-quarter is-mobile is-hidden'>
  <%= link_to 'Nouvelle recherche', page_path('home') %>
  <!-- RESULTS -->
  <div class="column is-12 is-mobile">
    <%= @results.count %> courts disponibles</p>
    <table>
      <tr>
        <th><%= sortable "pt_id", 'Tennis' %></th>
        <th><%= sortable "pt_court_id", 'Court' %></th>
        <th><%= sortable "date", 'Date' %></th>
        <th><%= sortable "hour", 'Heure' %></th>
      </tr>
      <% @results.each do |result| %>
        <tr>
          <% court = Court.where(pt_court_id: result[:pt_court_id]).first %>
          <td><%= court.venue.name + ' - ' + court.venue.district.to_s + 'ème' %></td>
          <td>Court n°<%= court.court_number %></td>
          <td><%= result[:date]%></td>
          <td><%= result[:hour]%>h</td>
          <td class='is-hidden'>
            <%= form_tag bookings_path do %>
              <%= hidden_field_tag :pt_court_id, result[:pt_court_id] %>
              <%= hidden_field_tag :pt_id, result[:pt_id] %>
              <%= hidden_field_tag :date, result[:date] %>
              <%= hidden_field_tag :hour, result[:hour] %>
              <%= hidden_field_tag :cle, result[:cle] %>
              <%= hidden_field_tag :libelleReservation, result[:libelleReservation] %>
              <%= select_tag :account_id, options_for_select(@my_accounts), class:'form-control' %>
              <%= submit_tag "Réserver", class:'btn btn-success'  %>
            <% end %>
          </td>
        </tr>
      <% end%>
    </table>
  </div>
</div>
