<div class="container">
  <div class="row">
    <div class="col s12">
    </div>
  </div>
</div>

<div class='column is-half is-offset-one-quarter is-mobile'>
  <%= link_to 'Nouvelle recherche', :back %>

  <!-- RESULTS -->
  <div class="column is-12 is-mobile">
    <%= @results.count %> courts disponibles</p>
    <table>
      <tr>
        <th><%= link_to 'Tennis', sort: "pt_id" %></th>
        <th><%= link_to 'Court', sort: "pt_court_id" %></th>
        <th><%= link_to 'Date', sort: "date" %></th>
        <th><%= link_to 'Heure', sort: "hour" %></th>
      </tr>
      <% @results.each do |result| %>
        <tr>
          <% court = Court.where(pt_court_id: result[:pt_court_id]).first %>
          <td><%= court.venue.name + ' - ' + court.venue.district.to_s + 'ème' %></td>
          <td>Court n°<%= court.court_number %></td>
          <td><%= result[:date]%></td>
          <td><%= result[:hour]%>h</td>
          <td class='is-hidden'>
            <%= form_tag bookings_path do %>
              <%= hidden_field_tag :pt_court_id, result[:pt_court_id] %>
              <%= hidden_field_tag :pt_id, result[:pt_id] %>
              <%= hidden_field_tag :date, result[:date] %>
              <%= hidden_field_tag :hour, result[:hour] %>
              <%= hidden_field_tag :cle, result[:cle] %>
              <%= hidden_field_tag :libelleReservation, result[:libelleReservation] %>
              <%= select_tag :account_id, options_for_select(@my_accounts), class:'form-control' %>
              <%= submit_tag "Réserver", class:'btn btn-success'  %>
            <% end %>
          </td>
        </tr>
      <% end%>
    </table>

  </div>

</div>
