<%= content_for(:title) do %>
  Home
<% end %>

<%= content_for(:description) do %>
  <%# TODO %>
<% end %>

<div id='form' >
  <%= form_tag results_path do %>

    <!-- WHERE -->
    <div class='form-area' id="form-where">
      <div class='form-area-intro'>
        <%= image_tag "where.svg" %>
      </div>
      <div id="form-where-options">

        <%= check_box_tag :tousArrondissements, 'yes', true, class:'is-hidden' %>

        <div class='form-where-option' id='form-where-tennis'>
          <%= select_tag :tennisArrond,
            "<option disabled value='Amandiers@20'>Amandiers</option>
            <option value='Atlantique@15'>Atlantique</option>
            <option value='Aurelle de Paladines@17'>Aurelle de Paladines</option>
            <option value='Bertrand Dauvin@18'>Bertrand Dauvin</option>
            <option value='Candie@11'>Candie</option>
            <option value='Carnot@12'>Carnot</option>
            <option value='Championnet@18'>Championnet</option>
            <option value='Château des Rentiers@13'>Château des Rentiers</option>
            <option value='Cordelières@13'>Cordelières</option>
            <option value='Courcelles@17'>Courcelles</option>
            <option value='Croix Nivert@15'>Croix Nivert</option>
            <option disabled value='Davout@20'>Davout</option>
            <option value='Docteurs Déjerine@20'>Docteurs Déjerine</option>
            <option value='Dunois@13'>Dunois</option>
            <option value='Edouard Pailleron@19'>Edouard Pailleron</option>
            <option value='Elisabeth@14'>Elisabeth</option>
            <option disabled value='Fonds des Princes@16'>Fonds des Princes</option>
            <option value='Georges Carpentier@13'>Georges Carpentier</option>
            <option value='Henry de Montherlant@16'>Henry de Montherlant</option>
            <option value='Jandelle@19'>Jandelle</option>
            <option value='Jules Ladoumègue@19'>Jules Ladoumègue</option>
            <option value='La Faluère@12'>La Faluère</option>
            <option value='Louis Lumière@20'>Louis Lumière</option>
            <option disabled value='Luxembourg@6'>Luxembourg</option>
            <option value='Léo Lagrange@12'>Léo Lagrange</option>
            <option value='Max Rousié@17'>Max Rousié</option>
            <option value='Moureu - Baudricourt@13'>Moureu - Baudricourt</option>
            <option value='Neuve Saint Pierre@4'>Neuve Saint Pierre</option>
            <option value='Niox@16'>Niox</option>
            <option value='Paul Barruel@15'>Paul Barruel</option>
            <option value='Paul Valéry@12'>Paul Valéry</option>
            <option value='Philippe Auguste@11'>Philippe Auguste</option>
            <option value='Poissonniers@18'>Poissonniers</option>
            <option value='Poliveau@5'>Poliveau</option>
            <option value='Porte de Bagnolet@20'>Porte de Bagnolet</option>
            <option value='Poterne des Peupliers@13'>Poterne des Peupliers</option>
            <option value='Reims - Asnières@17'>Reims - Asnières</option>
            <option value='René et André Mourlon@15'>René et André Mourlon</option>
            <option value='Rigoulot - La Plaine@15'>Rigoulot - La Plaine</option>
            <option value='Sablonnière@15'>Sablonnière</option>
            <option value='Sept Arpents@19'>Sept Arpents</option>
            <option value='Suzanne Lenglen@15'>Suzanne Lenglen</option>
            <option value='Thiéré@11'>Thiéré</option>".html_safe %>
          <a href="#a">
            Choisir un tennis
            <i class="fa fa-caret-down" aria-hidden="true"></i>
          </a>
        </div>

        <div id='form-where-separator'>OU</div>


        <div class='form-where-option' id='form-where-ardts'>
          <%= select_tag :arrondissement,
            "<option value='4'>4</option>
            <option value='5'>5</option>
            <option value='6'>6</option>
            <option value='11'>11</option>
            <option value='12'>12</option>
            <option value='13'>13</option>
            <option value='14'>14</option>
            <option value='15'>15</option>
            <option value='16'>16</option>
            <option value='17'>17</option>
            <option value='18'>18</option>
            <option value='19'>19</option>
            <option value='20'>20</option>".html_safe, multiple: true %>
          <a href="#a">
            3 arrondissements max
            <i class="fa fa-caret-down" aria-hidden="true"></i>
          </a>
        </div>
      </div>
    </div>


    <!-- DATE -->
    <div class='form-area' id="form-date">
      <div class='form-area-intro'>
        <%= image_tag "date.svg" %>
      </div>
      <div id="form-date-options">
        <% @week_days.each_with_index do |day, index| %>
          <a href="#a" class="form-date-option" id="<%= day[1] + '/' + day[2] + '/' + day[3]  %>">
            <p><%= day[0] %></p>
            <span><%= day[1] %></span>
          </a>
        <% end %>
        <%= hidden_field_tag :dateDispo%>
      </div>
    </div>

    <!-- HOUR -->
    <div class='form-area' id="form-hour">
      <div class='form-area-intro'>
        <%= image_tag "hour.svg" %>
      </div>
      <div id="form-hour-options">
        <a href="#a" class="form-hour-option" id="8@12">
          <p>matin</p>
          <span>8h-12h</span>
        </a>
        <a href="#a" class="form-hour-option" id="12@14">
          <p>midi</p>
          <span>12h-14h</span>
        </a>
        <a href="#a" class="form-hour-option" id="14@18">
          <p>après-midi</p>
          <span>14h-18h</span>
        </a>
        <a href="#a" class="form-hour-option" id="18@21">
          <p>soirée</p>
          <span>18h-21h</span>
        </a>
        <%= hidden_field_tag :plageHoraireDispo%>
      </div>
    </div>

    <!-- PREFS -->
    <div class='form-area' id="form-prefs">
      <div class='form-area-intro'>
        <%= image_tag "prefs.svg" %>
      </div>
      <div id="form-prefs-options">
        <!-- COUVERT -->
        <div class="form-prefs-checkbox" id="form-prefs-checkbox-couvert">
          <div>couvert</div>
          <label class="tgl" id='tgl_bgd_couvert'>
            <input type="checkbox" />
            <span class="tgl_body">
              <span class="tgl_switch"></span>
              <span class="tgl_track">
                <span class="tgl_bgd tgl_bgd_couvert"></span>
                <span class="tgl_bgd tgl_bgd_couvert tgl_bgd-negative"></span>
              </span>
            </span>
          </label>
          <%= check_box_tag :courtCouvert, 'yes', false, class:'is-hidden' %>
        </div>
        <!-- ECLAIRE -->
        <div class="form-prefs-checkbox" id="form-prefs-checkbox-eclaire">
          <div>éclairé</div>
          <label class="tgl" id='tgl_bgd_eclaire'>
            <input type="checkbox" />
            <span class="tgl_body">
              <span class="tgl_switch"></span>
              <span class="tgl_track">
                <span class="tgl_bgd tgl_bgd_eclaire"></span>
                <span class="tgl_bgd tgl_bgd_eclaire tgl_bgd-negative"></span>
              </span>
            </span>
          </label>
          <%= check_box_tag :courtEclaire, 'yes', false, class:'is-hidden' %>
        </div>
        <!-- SURFACE -->
        <div id="form-prefs-surface">
          <%= select_tag :revetement,
            "<option></option>
            <option value='Béton poreux'>Béton poreux</option>
            <option value='Bitume'>Bitume</option>
            <option value='Gazon synthétique'>Gazon synthétique</option>
            <option value='Résine'>Résine</option>
            <option value='Synthétique'>Synthétique</option>
            <option value='Terre battue'>Terre battue</option>".html_safe %>
          <a href="#a">
            surface
            <i class="fa fa-caret-down" aria-hidden="true"></i>
          </a>
        </div>
      </div>
    </div>

    <!-- SUBMIT -->
    <%= submit_tag "Rechercher", id:'form-submit-button'  %>

  <% end %>
</div>
